<h1><%= @question.content %></h1>

<h2>Answers:</h2>
<br>
<div id="answers_list">
  <%= render @answers %>
</div>

<%= link_to "Add an answer", new_question_answer_path(@question), id: "new_link", remote: true %>
